{% extends "layout.njk" %}

{% block content %}
    <section class="container">
        <form action="/products" method="post">
            <div class="header">
                <h3>Cadastro Produto</h3>
            </div>

            {% include "products/fields.njk" %}

            <button type="submit">Salvar</button>
        </form>
    </section>
{% endblock content %}