@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;700;800&display=swap');

:root {
    --primeira-cor: rgb(22, 21, 21);
    --segunda-cor: #f9f9f9;
    --terceira-cor: white;
    --quarta-cor: #fd951f; 
    --quinta-cor: #777; 
    --sexta-cor: #1e2a78;
}

/*#region GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Baloo Tamma 2', serif;
    background-color: var(--segunda-cor);
}

input {
    font-family: 'Baloo Tamma 2', serif;
}

.container {
    max-width: 940px;
    margin: 15px auto;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
}
/*#endregion GLOBAL*/

/*#region HEADER*/
header {
    padding: 0 15px;
    background-color: var(--primeira-cor);
    width: 100%;
    display: flex;
    justify-content: center;
}
/*#endregion HEADER*/

/*#region LOGO*/

.logo {
    margin-top: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo h1 {
    color: var(--terceira-cor);
    font-size: 32px;
    line-height: 10px;
}

.logo h2 {
    color: var(--quarta-cor);
    font-size: 16px;
}
/*#endregion LOGO*/

/*#region HEADER SEARCH */

.search input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 16px;
}

nav {
    flex-grow: 2;
}

form {
    flex-grow: 1;
    flex-grow: 3;
}

.container {
    flex-grow: 1;
}

nav.primary ul {
    display: flex;
    justify-content: space-evenly;
}


nav.primary ul li a {
    display: flex;
    align-items: center;
    color: var(--terceira-cor);
    transition: 300ms;
    padding: 10px 20px;
    border-radius: 30px;
    min-width: 165px;
}

nav.primary ul li a:hover {
    background-color: var(--quarta-cor);
}

nav.primary ul li a i {
    margin-right: 5px;
}
/*#endregion HEADER SEARCH */

/*#region FORM PRODUCTS*/
section .form {
    background-color: var(--terceira-cor);
    padding: 32px 24px;
    margin: 32px auto;
    box-shadow: 2px 2px 2px -1px rgba(60, 60, 60, 0.9);
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    max-width: 700px;
    width: 90%;
}

section form .header h3 {
    font-style: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--quarta-cor);
}

form .item {
    margin-bottom: 16px;
}

form .item > div:nth-child(1) {
    color: var(--quinta-cor);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

form .item input[type="text"],
form .item input[type="number"],
form .item textarea,
form .item select {
    width: 100%;
    padding: 8px 20px;
    box-shadow: 2px 2px 2px 0px rgba(60, 60, 60, 0.9);
    outline: none;
    border: 2px solid var(--quarta-cor);
    border-radius: 16px;
}

form .item select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--terceira-cor);
    background-image: url(seta.svg);
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0;
    background-size: .65em;
}

form .item textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.button {
    background-color: var(--quarta-cor);
    color: var(--terceira-cor);
    width: 100%;
    padding: 9px;
    border-radius: 20px;
    display: block;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    align-self: end;
    cursor: pointer;
    transition: all 0.2s;
    border: 2px solid var(--quarta-cor);
    margin-bottom: 15px;
}

.button.edit {
    background-color: var(--sexta-cor);
    border: 2px solid var(--sexta-cor);
}

.button:hover {
    background-color: var(--terceira-cor);
    border: 2px solid var(--quarta-cor);
    color: var(--quarta-cor);
}

.button.edit:hover {
    background-color: var(--terceira-cor);
    border: 2px solid var(--sexta-cor);
    color: var(--sexta-cor);
}


/*#endregion FORM PRODUCTS*/

/*#region PHOTOS UPLOADO*/
form .item #photos-upload {
    position: relative;
    display: block;
    overflow: hidden;
    max-width: 180px;

}

form .item #photos-upload p {
    padding: 3px 10px 0 10px;
    border-radius: 16px;
    background-color: var(--sexta-cor);
    color: var(--segunda-cor);
    text-align: center;
    max-width: 180px;

}

form .item #photos-input {
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    opacity: 0;
}

form .item #photos-preview {
    margin: 5px 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

form .item #photos-preview img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--segunda-cor);
    box-shadow: 4px 2px 7px 1px  rgb(95, 92, 92);
    position: relative;
}


/*#endregion PHOTOS UPLOADO*/
