<html>
    <head>
        {% block head %}
            <title>Store</title>
        {% endblock %}
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

        {% include "parts/header.njk" %}
        {% include "parts/footer.njk" %}

        {% block content %}
            
        {% endblock %}
    </body>
    
</html>